.section1-image-top{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 4rem auto;
}
.the-section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% auto;
    flex-direction: row-reverse;
    max-width: 1609px;
}
.section2-title{
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    align-items: center;
    text-align: right;
    color: #0F1E42;   
}
.section2-box{
    max-width: 150px;
    min-height: 50px;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-align: right;
    color: #737373;
    padding: 1rem;
    background: #F5F5F5;
    border-radius: 10px;
}
.section2-article{
    max-width: 1609px;
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 46px;
    /* or 219% */
    
    text-align: right;
    
    /* text color */
    
    color: #0C4888;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.section3--image{
    Width: 636px;
    Height:396px;    
}
.section3--article{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 46px;
    /* or 219% */
    
    text-align: right;
    
    /* text color */
    
    color: #0C4888;
    max-width: 857px;
}
.section3--container{
    display: flex;
    justify-content: space-between;
    max-width: 1609px;
    margin:4rem auto;
    align-items: center;
}
.section4--container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1609px;
    margin:4rem auto;
    align-items: center;
}
.section5-image{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 8rem auto;
    max-width: 1146px;
}
.section5-title{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 67px;
    /* or 239% */
    
    text-align: right;
    
    color: #000000;
    margin:2rem auto;
    justify-content: end;
    max-width: 1600px;
    align-items: center;
    
}
.section5-description{
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;

    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 46px;
    text-align: right;
    color: #0C4888;
}